.nav {
  max-height: 3em;
  border-bottom: 1px solid black;
  display: grid;
  justify-content: end;
}
.burger {
  position: relative;
  top: 20%;
  right: 10%;
  max-height: 5em;
  max-width: 5em;
}
