.landing {
  display: grid;
  justify-content: center;
  max-width: 100%;
  text-align: left;
}

.PLZSuche {
  padding-top: 1em;
  display: grid;
}
.nav {
  max-height: 3em;
  border-bottom: 1px solid black;
  display: grid;
  justify-content: end;
}
.burger {
  position: relative;
  top: 5%;
  right: 5%;
  max-height: 3em;
  max-width: 3em;
}
.button {
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: 12em;
}
.input {
  margin-bottom: 2em;
  display: grid;
  justify-content: center;
}
.landing::-webkit-scrollbar {
  display: none;
}
.parag {
  margin-left: 1.5em;
  font-size: 1.2em;
  display: grid;
  justify-content: center;
}
.span1 {
  margin-left: 1.1em;
  margin-top: 1em;
  font-size: 1.5em;
}
.span2 {
  margin: 1em 0 1em 1.5em;
  font-size: 1.4em;
}
.span3 {
  padding-bottom: 1em;
  margin-left: 1.5em;
  font-weight: bold;
}
