body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary-color: #fff;
  --secondary-color: #d9002f;
  --border-color: #707070;
  --text-color: #58585a;
  --font-family: 'Segoe UI', tahoma, geneva, verdana, sans-serif;
}
